<!DOCTYPE html>
<html lang="en" ng-app="movies">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <header ng-include src="'nav.html'"></header> 
  <main ng-view></main>


</head>
      <link rel="stylesheet" href="style.css">

  

<body>

<script data-require="angular.js@1.0.7" data-semver="1.0.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  <script src = "movies.js"></script>
  
  <div ng-controller="movienames">
    
    <br>
    <form>
      <input type="radio" value="Add" ng-model="MovieAddView">Add Movie
      <input type="radio" value="View" ng-model="MovieAddView">View Movie
    </form>
    <div ng-switch="MovieAddView">
      <div ng-switch-when="Add">

        <form ng-submit="AddMovieToArray(names,release,lang)">
          
        <input type="text" placeholder="Name" ng-model="names" />
        <input type="text" placeholder="ReleaseYear" ng-model="release" />
        <input type="text" placeholder="Language" ng-model="lang" />
        <input type="submit" value="Add New Movie" />
          
      
        </form> 
      </div>

      <div ng-switch-when="View">
            <button class="OrderButton" ng-click="order='name'">Order By Name</button>
    <button class="OrderButton" ng-click="order='releaseyear'">Order By ReleaseYear</button>
    <button class="OrderButton" ng-click="order='language'">Order By Language</button>
    
    <br><input  type="text" placeholder="Search for movies" ng-model="search"/>
    
    <ul>
          
          <li ng-repeat="i in movie | orderBy: order | filter:search " ng-show="i.available" ><strong> {{i.name}} :: 
 {{i.language}}  </strong>
            <button class="removeElement" ng-click="removeMovie(i)"> x</button>
     
            <br><br>
    </ul>
      </div>


    </div>
      

  </div>
    
</body>
</html>

